html{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #989DA5;
    min-height: 100vh;
  }
  
.header
{
    border: .4rem solid black;
    border-radius: .5rem;
    display: flex;
    background-color: #45536E;
    flex:.25 1 auto;
    align-items: center;
    justify-content: center;
    color: #eff1ef;
    width: 100% - .8rem;
    padding: 1rem 0rem;
}

.gameWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}

.scoreWindow{
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem;
    width: 50vw;
}

.score{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border: .4rem solid black;
    border-radius: .5rem;
    background-color: #45536E;
    padding: .5rem;
    color: #eff1ef;
    text-shadow: 0 0 .5rem #84658A;
    font-size: 5rem;
    flex: 1;
    aspect-ratio: 1/1;
}

.separator{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    font-size: 1rem;
    color: #eff1ef;
    text-shadow: 0 0 .5rem #84658A;
}

.leftLabel, .rightLabel{
    margin: 0rem .5rem;
    display:flex;
    flex:1;
    align-items: center;
}
.choiceButtons{
    display: flex;
    border: .4rem solid black;
    border-radius: .5rem;
    margin-top: 3rem;
    background-color: #927D7C;
    align-self: center;
    justify-content: space-around;
}

.choiceButtons button{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: #45536E;
    padding: .5rem .5rem;
    margin: 1.25rem;
    border: .4rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: #eff1ef;
    text-shadow: 0 0 .5rem #84658A;
    text-align: center;
    transition: all .15s ease;
}

.choiceButtons button:hover{
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.clicked{
    transform: scale(1.15);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
.gameImage{
    max-width: 15vw;
    max-height: 15vh;
}